body {
    background: #FFC999;
}
div.container {
    background: #FFF;
}
div.transcription{
    position:relative;
    background: #EEE;
}
div.fullscreen {
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
}

/* Transcription */
#imgTop {
    position: relative;
}
bookmark {
    border: blue solid 2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
nav {
    width:100vw;
    bottom:0;
    left:0;
    position: fixed;
}