body {
    background: #FFC999;
}
div.container {
    background: #FFF;
}
div.transcription{
    position:relative;
    background: #EEE;
}
div.fullscreen {
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
}