---
---

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Sans Bold','IBM Plex Sans', sans-serif;
    font-weight: bold;
    color:hsl(186, 84%, 40%);
}
