---
---

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

a:active {
    color: hsl(0,0%,100%);
}

a:link {
    color: hsl(186, 84%, 60%);
}

a:visited {
    color: hsl(0,0%,60%);
}

a:hover {
    color: hsl(186, 84%, 90%);
}

html {
    background-color: #0d0d0d;
    color: hsl(0,0%,90%);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    scroll-padding-bottom: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color:hsl(186, 84%, 40%);
}

h1 {
    font-weight: bold;
}

h2,h3 {
    font-family: 'IBM Plex Sans Light','IBM Plex Sans', sans-serif;
}

.wrapper {
    width: 860px;
    margin: 0 auto;
}

.wrapper section:first-of-type {
    min-height: 100vh;
}

@media print, screen and (max-width: 960px) {
    div.wrapper {
        width:auto;
        margin: 0
    }
}
