--- 
--- 

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url("//cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --primary-color: hsl(186, 84%, 40%);
    --primary-light: hsl(186, 84%, 60%);
    --light-color  : hsl(186, 84%, 90%);
    --darkest      : #0d0d0d;
    --dark         : #1a1a1a;
    --white        : hsl(0, 0%, 100%);
    --gray         : hsl(0, 0%, 60%);
    --light-gray   : hsl(0, 0%, 90%);
    --link         : hsl(12, 60%, 40%);
}

a:active {
    color: var(--white)
}

a:link,
a {
    color: var(--link);
}

a:visited,
h1 a,
h2 a,
h3 a {
    color: var(--primary-color);
}

a:hover {
    color: var(--light-color);
}

html {
    background-color     : var(--darkest);
    color                : var(--light-gray);
    font-family          : 'IBM Plex Sans', sans-serif;
    font-size            : 16px;
    line-height          : 1.8;
    padding              : 0;
    margin               : 0;
    box-sizing           : border-box;
    scroll-behavior      : smooth;
    scroll-padding-top   : 5rem;
    scroll-padding-bottom: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
}

h1 {
    font-weight: bold;
}

h2,
h3 {
    font-family: 'IBM Plex Sans Light', 'IBM Plex Sans', sans-serif;
}

.post-list {
    padding: 0;
}

.post-list-item {
    display: grid;
    grid-template-areas: 
    "title"
    "image" "excerpt";
    grid-template:  
    "title title" auto
    "image excerpt" auto / 1fr 4fr;
    gap: 0;
    margin-block-end: 2em;
    background-color: var(--white);
    color: var(--dark);
}

.post-list-item .post-cover-image {
    grid-area: image;
    max-width: 100%;
    height: 6em;
    height: auto;
    object-fit: cover;
}

.post-list-item h3 {
    grid-area: title;
    margin: 0;
    background-color: var(--primary-color);
    padding-left: .25em;
}
.post-list-item h3 a {
    color: var(--light-color);
    text-decoration: none;
}

.post-list-item h3:has(a:hover) {
    background-color: var(--primary-light);
    text-shadow: 1px -1px 0px var(--primary-color);
}
.post-list-item p {
    grid-area: excerpt;
    margin: 1em;
}

.wrapper {
    min-height: 100vh;
    width     : 100%;
    padding   : 4em calc(50% - 430px);
    box-sizing: border-box;
}

.darkest {
    background-color: var(--darkest);
}

.dark {
    background-color: var(--dark);
}

p>img:first-child {
    float: right;
    max-width         : 30%;
    padding           : 0 1em;
    animation         : scaled-in linear;
    animation-timeline: view(50% 0);
}

dt {
    font-weight: bold;
}

dd {
    position     : relative;
    left         : 2em;
    padding-right: 2em;
}

.cube {
    transform-style   : preserve-3d;
    animation         : spin linear reverse;
    animation-timeline: scroll();
    position          : relative;
    width             : 20px;
    height            : 20px;
    display           : inline-block;
    margin            : 0 5px;
}

.cube+.cube {
    animation-direction      : normal;
    animation-iteration-count: 2;
}

.cube+.cube+.cube {
    animation-direction      : reverse;
    animation-iteration-count: .62;
}

.cube div {
    width      : 20px;
    height     : 20px;
    line-height: 20px;
    text-align : center;
    box-shadow : inset 0px 0px 0px 1px var(--darkest);
    background : var(--primary-color);
    display    : block;
    position   : absolute;
}

.cube div.top {
    transform : rotateX(90deg);
    margin-top: -10px;
}

.cube div.right {
    transform  : rotateY(90deg);
    margin-left: 10px;
}

.cube div.bottom {
    transform : rotateX(-90deg);
    margin-top: 10px;
}

.cube div.left {
    transform  : rotateY(-90deg);
    margin-left: -10px;
}

.cube div.front {
    transform: translateZ(10px);
}

.cube div.back {
    transform: translateZ(-10px) rotateX(180deg);
}

@keyframes spin {
    0% {
        transform: rotateX(157deg) rotateY(280deg) rotateZ(330deg);
    }

    100% {
        transform: rotateX(0deg) rotateY(740deg) rotateZ(900deg);
    }
}
.gridly {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap             : 1em;
    width                : 100%;
}

.gridly>div {
    background-color: var(--darkest);
    padding         : 1em;
}

.gridly>div>h3 {
    margin            : 0;
    animation         : letter-squeeze linear;
    animation-delay   : 200ms;
    animation-timeline: view(50% 0);
}

section > h3 {
    animation: lift-header linear;
    animation-timeline: view(50% 0);
}

@keyframes letter-squeeze {
    from {
        letter-spacing: .38em;
    }

    to {
        letter-spacing: 0em;
    }
}

@keyframes lift-header {
    from {
        transform: translateY(2em);
        opacity: 0;
    }

    to {
        transform: translateY(0em);
        opacity: 1;
    }
}

@keyframes scaled-in {
    from {
        transform:scale(.75);
        transform:translate(25% 0);
    }

    to {
        transform:scale(1);
        transform:translate(0 0);
    }
}

@keyframes scaled-out {
    to {
        transform:scale(.75);
        transform:translate(0 -25%);
    }

    from {
        transform:scale(1);
        transform:translate(0 0);
    }
}


@media print,
screen and (max-width: 960px) {
    div.wrapper {
        width     : auto;
        margin    : 0;
        padding   : auto;
        min-height: initial;
    }
    .gridly {
        grid-template-columns: 1fr;
        grid-gap             : 0;
        width                : 100%;
    }
}
