---
layout: default
---

<div class="">
  <header class="category-header">
    <p class="category-tags">
      {% for category in site.categories %}
     <a href="{{ site.baseurl }}/category/{{ category[0] }}" style="text-decoration: none;"> <i class="bi-bookmark-fill"></i> {{ category[0] | capitalize }} ({{
        category[1] | size }})</a> &nbsp;
      {% endfor %}
    </p>
  </header>
  <h2>{{ page.category | capitalize }}</h2>
  {{ content }}
  {% assign posts = site.categories[page.category] %}
  <p class="category-meta">
    - {{ posts | size }} of {{ site.posts | size }} total posts -
  </p>
  <ul class="post-list">
    {% for post in posts %}
    <li class="post-list-item">
      <h3>
        <a href="{{ post.url | absolute_url}}">{{ post.title }}
          <small>({{ post.date | date_to_long_string: "ordinal" }})
            <cite>{{ post.author }}</cite>
          </small>
        </a>
      </h3>
      {% if post.coverImage %}
      <img src="{{ post.coverImage }}" alt="{{ post.title }}" class="post-cover-image">{% endif %}
      <p>
        {{ post.excerpt | strip_html }}
      </p>
    </li>
    {% endfor %}
  </ul>
</div>
