<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ "/assets/css/main.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    <title>{{ page.title | default: site.title | default: site.github.repository_name }}</title>
</head>

<body>
    <div>
        <header class="wrapper">
            {% if site.logo %}
            <a href="{{ "/" | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="Logo" style="width:100%;"/></a>
            {% else %}
            <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
            {% endif %}
        </header>
        <section id="content" class="wrapper dark">

            {{ content }}

        </section>
        <footer class="wrapper">
            <a href="{{ "/" | absolute_url }}">Return to the home page.</a>
            &midcir; 
            <a href="{{ "/about" | absolute_url }}">Learn about the platform.</a>
            &midcir; 
            <a href="https://github.com/CenterForDigitalHumanities/TPEN3">Read code on GitHub.com.</a>
        </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
</body>

</html>
